/* CSS Global no body */
body {
    background-color: #F2F2F2; /* Fundo geral cinza claro */
    color: #202124; /* Texto principal preto/cinza escuro */
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #202124;  
}

.navbar-brand, .nav-link {
    color: #201d1d; 
}

.nav-link:hover {
    color: #E63946; 
}

.nav-link.active {
    color: #FFFFFF; 
}

/* Botões */
.btn {
    background-color: #E63946; /* Botões vermelhos */
    color: #FFFFFF; /* Texto branco */
    border: none;
}

.btn:hover {
    background-color: #383B40; 
    color: #FFFFFF;
}

/* Container onde vai o conteudo da pagina */
.container {
    background-color: #FFFFFF; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Títulos e textos */
h1, h2, h3, h4, h5, h6 {
    color: #202124; 
}

/* Paragrafos e placeholders */
p, a {
    color: #000000; 
}

a:hover {
    color: #E63946; 
}